.view {
    width: 300px;
    height: 200px;
    margin: 10px;
    float: left;
    border: 5px solid #fff;
    overflow: hidden;
    position: relative;
    text-align: center;
    box-shadow: 1px 1px 2px #e6e6e6;
}


body{
	background: black;
}
.view .mask, .view .content {
    width: 300px;
    height: 200px;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0
}
.view img {
    width: 300px;
    height: 200px;
    display: block;
    position: relative
}
.view h2 {
    text-transform: uppercase;
    color: white;
    text-align: center;
    position: relative;    
}
.view p {
    font-family: Georgia, serif;
    font-style: italic;
    font-size: 12px;
    position: relative;
    color: #fff;
    padding: 10px 20px 20px;
    text-align: center
}

.view-first img { 
    transition: all 0.2s linear;
}
.view-first .mask {
    opacity: 0;
    background-color: rgba(255,2,8, 0.7); 
    transition: all 0.4s ease-in-out;
}
.view-first h2 {
    transform: translateY(-100px);
    opacity: 0;
    transition: all 0.2s ease-in-out;
}
.view-first p { 
    transform: translateY(100px);
    opacity: 0;
    transition: all 0.2s linear;
}
.view-first:hover img { 
    transform: scale(1.1);
} 

.view-first:hover .mask { 
    opacity: 1;
}
.view-first:hover h2,
.view-first:hover p {
    opacity: 1;
    transform: translateY(0px);
}

@media all and (min-width: 1001px) {
    .view {

        border: 2px solid #fff;
        width: 300px;
        height: 200px;

    }
    .view .mask, .view .content {
        width: 300px;
        height: 200px;
        position: absolute;
        overflow: hidden;
        top: 0;
        left: 0
    }
    .view img {
        width: 300px;
        height: 200px;
        display: block;
        position: relative
    }
}

@media all and (max-width: 1000px) and (min-width: 700px) {
.view {

    border: 5px solid #fff;
    width: 250px;
    height: 150px;
}
.view .mask, .view .content {
    width: 250px;
    height: 150px;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0
}
.view img {
    width: 250px;
    height: 150px;
    display: block;
    position: relative
}

}


